html, body {
    height: 100%;
}

body {
    min-width: 320px;
    margin: 0;
    font-size: 1.8rem;
    font-family: 'Inconsolata','Courier', monospace;
    background-color: #fff;
}

* {
    color: #000;
}

a, a:focus {
    text-decoration: none;
    color: #000;
    outline: none;
    cursor: pointer;
}

.textcenter {
	text-align: center;
}

.mt3 {
	margin-top: 30px;
}

.mb05 {
	margin-bottom: 5px;
}


@media (min-width: 550px) {

.container.main {
	width: 100%;
	max-width: none;
}

.mainleftcol {
	padding: 0 20px;
	height: 100%;
  position: fixed;
  border-right: 2px solid #F7F7F7;
  overflow: auto;
}

.mainleftcol::-webkit-scrollbar { 
    display: none; 
}

.mainrightcol {
	margin-left: 30.6666666667%;
}

.main .row > .eight.columns { width: 69.333333%; }
.row.custom > .six.columns { width: 100%; }
.row.custom > .column,
.row.custom > .columns {
  margin-left: 0%; }

}

.hipimage {
	width: 80%;
	margin-top: 30px;
}

@media (min-width: 850px) {
.row.custom > .six.columns { width: 50%; }
}

.template {
  display: none;
}

.logo {
  width: 90%;
  margin:30px auto 0 auto;
}

@media (min-width: 950px) {
  .logo {
    width: 50%;
  }
}

@media (max-width: 550px) {
  .logo {
    width: 40%;
  }
}

header .title {
  display: block;
  height: 80px;
  line-height: 75px;
  background-color: #fff;
  text-align: center;
  font-size: 30px;
  color: white;
  text-shadow: 2px 2px 2px #282828;
}

header .sidebar {
  padding: 20px 0 0 0px;
}

header .subtitle {
	margin-top: 10px;
}

header .subtitle p {
  width: 90%;
  margin: 0 auto 30px auto;
  font-size: 1.5rem;
}

@media (min-width: 550px) {
  .mobilerefreshbtn {
    display: none;
  }
}

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  font-family: 'Inconsolata','Courier', monospace;
  border: 1px solid #000;
  color: #000;
  font-size: 1.3rem;
}

.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #555;
  border: 1px solid #555;
}

main .domain {
    display: block;
    height: 90px;
    border-bottom: 1px solid #f7f7f7;
    margin-top: -1px;
    line-height: 90px;
    color: inherit;
    text-align: center;
}

main .domain:hover {
    border-bottom: 1px solid #000;
    color: #000;
}

.domainicon {
	width: 20px;
	margin-right: 8px;
  display: inline-block;
  vertical-align: middle;
}

.domaintext {
	margin-bottom: 0;
	display: inline-block;
  vertical-align: middle;
}

.aboutcontent {
	padding-left: 20px;
}

.aboutcontent a {
	text-decoration: underline;
}

nav {

}

nav .side {
    display: block;
    float: right;
    width: 50%;
    color: inherit;
}

nav .side:hover {
    background-color: #eee;
}

.mailing {
    padding: 20px 0;
    border-top: 1px solid #ccc;
    text-align: center;
    background-color: #f2f8f3;
}

.mailing input {
    width: calc(100% - 30px);
    height: 50px;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
}

.mailing input[type='email'] {
    margin: 10px 0;
    border: 2px solid #afd5ba;
    background-color: #fcfdfc;
}

.mailing input[type='submit'] {
    padding: 10px;
    border: 0;
    cursor: pointer;
    background-color: #cb9a9a;
    color: #fdfcfc;
}

.purchased {
    padding: 10px;
    background-color: #808080;
    text-align: center;
    font-size: 12px;
    color: #f5f5f5;
}

footer {
    padding: 20px;
    text-align: center;
}

